:root {
  --vertical-bar: 60%;
  --background: #dbdbdb;
  --background-2: var(--blue);
  --text-color: black;
  --muted: #8492a6;
}

html,
body {
	font-family: system-ui;
	font-size: 12pt;
	margin: 0px;
	overscroll-behavior: none; /*this stops the back swipe*/
/*	overflow: hidden;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: revert;
}

pre {
  font-size: 14px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ///////////////////////////////////////////////////// */
/* GENERAL SET-UP */
/* ///////////////////////////////////////////////////// */

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.left-pane {
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  background: #f4e6d0;
  width: var(--vertical-bar);
  height: 100%;
}

.log {
  background: green;
  padding: 5px;
  max-height: 100px;
  overflow-y: scroll;
}

.error {
  background: #ff0909b3;
}

.shrink {
  height: 0px;
  padding: 0px;
}

.menu {
  /*overflow: hidden;*/
  height: 30px;
  background: var(--muted);
  display: flex;
  padding: 5px;
}

.menu-option {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-button {
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-button:hover {
  opacity: 0.9;
  cursor:  pointer;
  z-index: 15; /* greater than right panel */
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  width: max-content;
  z-index: 99;
  transform: translate(-50%, 0);
  border-radius: 5px;
  font-size: 12px;
}

.menu-button:hover .tooltip {
  visibility: visible;
}

.right-pane {
  width: calc(100% - var(--vertical-bar));
  height: 100%;
  z-index: 10;
  background: white;
}


.iframe-sandbox {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px;
}

#vertical-bar {
  position: absolute;
  left: calc( var(--vertical-bar) - 5px);
  top: 0px;
  background: none;
  width: 10px;
  height: 100%;
  z-index: 11;
}

#vertical-bar:hover {
  cursor: col-resize;
  background: var(--muted);
}

#code-editor {
  overflow: scroll;
  flex: 1;
	height: 100% !important;
	background: #e0e6ed !important; /* #f4e6d0 #ebd5b3 #e0e6ed */
	z-index: 0;
}

.ͼb {
  border: solid 1px rgb(0, 0, 0, 0);
}

.ͼb:hover {
  background: #e4e0e0;
  border: solid 1px grey;
  box-sizing: border-box;
  cursor: col-resize;
}

.notification-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 1em;
  max-height: 30%;
  overflow-y: scroll;
}

.shared-modal {
  color: var(--text-color);
  background: var(--snow);
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}







